.footer{
    background-color: #000;
    height: 300px;
    width: 100%;
    padding-top: 40px;
}
.footer_container{
    // border: 1px solid #fff;
    height: 100%;
    display: flex;
    justify-content: space-around;
    
}
.footer_link{
    // color: #fff;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 20px;
    a{
        text-decoration: none;
        color: #fff;
    }
}
.sosical_menu{
    display: flex;
    text-align: left;
}
.sosical_link{
   li{
    display: inline-block;
    margin-left: 20px;


   }
}